* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}
*.open {
  overflow: hidden;
}
body {
  font-family: "Montserrat", sans-serif;
  height: 5000px;
}
.btn {
  color: red;
  background-color: blue;
}
a {
  text-decoration: none;
}
