.blog_logo_text h4 {
  display: flex;
  transform: translateX(-2%);
  justify-content: center;
  color: $ZPink;
  margin-bottom: 20rem;
  font-size: 1.7rem;
}
.article_text {
  display: flex;
  position: relative;
  justify-content: center;
  color: $ZPink;
  @include breakpoint-down(small) {
    display: block;
    width: fit-content;
    left: 50%;
    transform: translateX(-50%);
  }
  // @include breakpoint-up(large) {
  //   grid-area: b;
  //   padding-left: 10%;
  // }
}

.article_text h2 {
  margin: 0 10%;
  font-size: 2rem;
  @include breakpoint-down(small) {
    align-self: center;
  }
  @include breakpoint-down(medium) {
    font-size: 3rem;
  }
  @include breakpoint-up(large) {
    font-size: 5rem;
  }
}

.container_article p {
  font-size: 1rem;
  text-align: justify;
  padding: 3rem;
  margin: 0 10%;
  color: #1b75bc;
}
